@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;600&display=swap');
@import 'particles';
@import 'text-movement';

* {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

.main {
  background-image: url(https://cdn.pixabay.com/photo/2015/09/05/23/28/coding-926242_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#logo {
  height: 4rem;
  position: absolute;
}
nav img {
  width: 50px;
  transition: ease all .3s;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 200px 10px;
}
.info {
  padding: 20px;
  text-align: center;
  color: white;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.job {
  font-size: 35px;
  margin: 0%;
  animation: toLeft;
  animation-duration: 1s;
}

.job2 {
  margin: 10px;
  font-size: 25px;
  animation: toRight;
  animation-duration: 1s;
}

.name {
  color: rgb(255, 255, 255);
  margin: 0%;
  font-size: 4rem;
  animation: toRight;
  animation-duration: 1s;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: auto 5rem;
  height: 50px;
}

.icons {
	img {
		width: 30px;
		transition: all 0.1s ease;
		&:hover {
			transform: scale(1.3);
		}
	}
}


span {
  color: #35b5ff;
}




