@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;600&display=swap");
.wrapper span {
  position: fixed;
  bottom: -50px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  filter: blur(3px);
  background-color: #fff;
  -webkit-animation: animate 15s linear infinite;
          animation: animate 15s linear infinite;
}

.wrapper span img {
  height: 50px;
  width: 50px;
}

.wrapper span:nth-child(1) {
  left: 200px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.wrapper span:nth-child(2) {
  left: 10%;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.wrapper span:nth-child(3) {
  left: 20%;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

.wrapper span:nth-child(4) {
  left: 30%;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.wrapper span:nth-child(5) {
  left: 40%;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.wrapper span:nth-child(6) {
  left: 50%;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.wrapper span:nth-child(7) {
  left: 60%;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

.wrapper span:nth-child(8) {
  left: 70%;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

.wrapper span:nth-child(9) {
  left: 80%;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.wrapper span:nth-child(10) {
  left: 90%;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@-webkit-keyframes animate {
  0% {
    bottom: 0;
    margin-left: 90px;
    margin-right: 0;
    opacity: 0.9;
  }
  20% {
    bottom: 20%;
    margin-left: 0;
    margin-right: 90px;
    opacity: 0.8;
  }
  40% {
    bottom: 40%;
    margin-left: 90px;
    margin-right: 0;
    opacity: 0.6;
  }
  60% {
    bottom: 60%;
    margin-left: 0;
    margin-right: 90px;
    opacity: 0.4;
  }
  80% {
    bottom: 80%;
    margin-left: 90px;
    margin-right: 0;
    opacity: 0.1;
  }
  100% {
    bottom: 100%;
    margin-left: 0;
    margin-right: 90px;
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    bottom: 0;
    margin-left: 90px;
    margin-right: 0;
    opacity: 0.9;
  }
  20% {
    bottom: 20%;
    margin-left: 0;
    margin-right: 90px;
    opacity: 0.8;
  }
  40% {
    bottom: 40%;
    margin-left: 90px;
    margin-right: 0;
    opacity: 0.6;
  }
  60% {
    bottom: 60%;
    margin-left: 0;
    margin-right: 90px;
    opacity: 0.4;
  }
  80% {
    bottom: 80%;
    margin-left: 90px;
    margin-right: 0;
    opacity: 0.1;
  }
  100% {
    bottom: 100%;
    margin-left: 0;
    margin-right: 90px;
    opacity: 0;
  }
}
@-webkit-keyframes toRight {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes toRight {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes toLeft {
  0% {
    opacity: 0;
    transform: translate(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes toLeft {
  0% {
    opacity: 0;
    transform: translate(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.main {
  background-image: url(https://cdn.pixabay.com/photo/2015/09/05/23/28/coding-926242_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#logo {
  height: 4rem;
  position: absolute;
}

nav img {
  width: 50px;
  transition: ease all 0.3s;
}

.nav-item .nav-link:hover {
  color: white;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 200px 10px;
}

.info {
  padding: 20px;
  text-align: center;
  color: white;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.job {
  font-size: 35px;
  margin: 0%;
  -webkit-animation: toLeft;
          animation: toLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.job2 {
  margin: 10px;
  font-size: 25px;
  -webkit-animation: toRight;
          animation: toRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.name {
  color: rgb(255, 255, 255);
  margin: 0%;
  font-size: 4rem;
  -webkit-animation: toRight;
          animation: toRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: auto 5rem;
  height: 50px;
}

.icons img {
  width: 30px;
  transition: all 0.1s ease;
}
.icons img:hover {
  transform: scale(1.3);
}

span {
  color: #35b5ff;
}/*# sourceMappingURL=main.css.map */