body, html{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url(https://cdn.pixabay.com/photo/2015/09/05/23/28/coding-926242_960_720.jpg);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
h1 {
  color: rgb(255, 255, 255);
}

.pictureAndInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.name {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0%;
  font-size: 75px;
}

.info {
  border-radius: 10px 10px;
  padding: 20px;
  text-align: center;
  color: azure;
}

.second {
  
  margin: 0 0 0 0;
}
/* .profileImage {
  border-radius: 50%;
  border: white solid 5px;
  margin: 0 0 10px 0;
} */

/* .details {
  display: flex;
  flex-wrap: wrap;
}

.details > div {
  background-color: rgb(208, 252, 195, 0.5);
  flex-grow: 1;
  align-content: center;
} */
